
.slide-top-toast {
    position: fixed;
    /* top: -100px;
     */
     top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color:#1877F2;
    color: #fff;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2000; 
  }
/*   
  .slide-top-toast.show {
    top: 20px;
  }
   */
  .slide-top-toast-message {
    flex-grow: 1;
  }
  
  .slide-top-toast-close {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-left: 16px;
  }
  